  <div class='heart-box'>
    <%= image_tag "logo (7).png", class:"heart-icon" %><span class='star-count'><%= @origin.liked_users.count %></span>
      <% if current_user.liked_by?(origin) %>
        <%= link_to origin.likes.count, origin_like_path(@origin.id), method: :delete, remote: true %>
      <% else %>
        <%= link_to origin.likes.count, origin_likes_path(@origin.id), method: :post, remote: true %>
      <% end %>
  </div>