    
    <h3>いいね件数: <%= @origin.likes.count %></h3>
      <% if current_user.liked_by?(@origin) %>
        <%= button_to 'いいねを取り消す', origin_like_path(@origin.id), method: :delete, remote: true %>
      <% else %>
        <%= button_to 'いいね', origin_likes_path(@origin.id), method: :post, remote: true %>
      <% end %>